.acoes {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.botao {
  margin: 5px;
  margin-top: 25px;
  width: 200px;
}

.criar-form {
  padding: 2rem 0;
}

.criar-form form {
  background: #14141C;

  border: none;
  border-radius: 20px;

  display: flex;
  flex-direction: column;

  padding: 2rem;

  box-shadow: 2px 8px 10px #000000;

}

.criar-form form label {
  color: #f1e3e9;
  font-weight: bold;
  margin: 0 0 1rem;
}

.criar-form form .input {
  font-weight: bold;
  border: none;
  height: 40px;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
  box-shadow: 0.2px 0.2px 7px #5f5f5f;

}


.criar-form form .textarea {
  border: none;
  padding: 1rem 2rem;
  border-radius: 20px;
  margin: 0.5rem 0 2rem;
}

.success {
  color: #f1e3e9;
  background-image: url("../../assets/imagens/check-mark.svg");
  background-size: 42px;
  background-repeat: no-repeat;
  min-height: 3vh;
  padding: 10px 0px 25px 56px;
  margin-top: 24px;
  margin-bottom: 8px;
  display:flex ;
  align-items: center;
}

.success p {
  margin: 0;
}

.reject {
  color: #f1e3e9;
  background-image: url("../../assets/imagens/error-10379.svg");
  background-size: 42px;
  background-repeat: no-repeat;
  min-height: 3vh;
  padding: 10px 0px 25px 56px;
  margin-top: 24px;
  margin-bottom: 8px;
  display:flex ;
  align-items: center;
}

.reject p {
  margin: 0;
}
